@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.section-container {
		@apply mx-4 xl:mx-auto xl:max-w-[1440px];
	}
	.bg-light800_dark200 {
		@apply bg-light-800 dark:bg-dark-200;
	}

	.bg-blur {
		@apply backdrop-blur bg-[#D9D9D9]/50 dark:bg-[#202020]/50 animate-fadeIn;
	}

	.border-light800_dark200 {
		@apply border-[#121212] dark:border-[#e0e0e2];
	}

	.transition-theme {
		@apply transition duration-250;
	}

	.text-dark200_light800 {
		@apply text-dark-200 dark:text-light-800;
	}

	.text-dark {
		@apply text-[#121212];
	}

	.text-light {
		@apply text-[#e0e0e2];
	}

	.invert-bg {
		@apply dark:bg-light-800 bg-dark-200;
	}

	.invert-text {
		@apply text-light-800 dark:text-dark-200 !important;
	}

	.cloud-message {
		@apply invert-bg rounded-[10px] max-w-[420px] p-8 relative dark:after:border-t-[#e0e0e2] dark:after:border-r-[#e0e0e2] translate-x-1/4;

		&::after {
			content: '';
			position: absolute;
			width: 2rem;
			aspect-ratio: 1;
			left: auto;
			right: 4rem;
			bottom: -40px;
			border: 20px solid;
			border-top-color: #121212;
			border-right-color: #121212;
		}
	}

	.card-bg {
		@apply bg-white dark:bg-[#181616];
	}

	.card-shadow {
		@apply shadow-[3px_3px_0_4px_rgb(18,18,18)] dark:shadow-[3px_3px_0_4px_rgba(224,224,226)];
	}

	.horizon-line {
		@apply invert-bg h-[2px] xl:hidden;
	}

	.carousel-arrow {
		@apply bg-light-800 hover:bg-light-800/10 dark:bg-dark-200 hover:dark:bg-dark-200/10 dark:border-light-800 border-dark-200 text-dark200_light800 dark:ring-offset-dark-200 max-xl:hidden !important;
	}

	.h1-intro {
		@apply text-9xl font-medium text-dark200_light800;
	}

	.h1-bold {
		@apply text-5xl xl:text-[64px] font-bold leading-[85px];
	}

	.h1-outline {
		@apply text-[36px] font-bold xl:h1-bold w-fit animate-gradientText bg-gradient-to-r from-custom-pink via-custom-blue to-custom-purple bg-600% bg-clip-text pb-4 text-transparent shadow-[0_5px_0_#121212] dark:shadow-[0_5px_0_#E0E0E2];
	}

	.h2-bold {
		@apply text-[40px] xl:text-5xl font-bold tracking-[0.02] leading-[53px] text-dark200_light800 text-dark200_light800;
	}

	.h2-outline {
		@apply text-[40px] xl:text-5xl font-bold drop-shadow-[0_0_2px_rgba(0,0,0,1)] text-light;
	}

	.h3-bold {
		@apply text-[2rem] xl:text-4xl font-bold leading-[35.2px] text-dark200_light800 text-dark200_light800;
	}

	.h4-bold {
		@apply text-2xl xl:text-3xl font-bold;
	}

	.project-name {
		@apply text-3xl font-bold text-dark200_light800;
	}

	.paragraph-medium {
		@apply text-base xl:text-2xl font-medium text-dark200_light800;
	}

	.paragraph-regular {
		@apply text-base xl:text-2xl font-normal text-dark200_light800;
	}

	.paragraph-bold {
		@apply text-2xl xl:text-xl font-bold text-dark200_light800 !important;
	}

	.body-semibold {
		@apply text-xl font-semibold text-dark200_light800;
	}

	.body-medium {
		@apply text-xl xl:text-3xl font-medium;
	}

	.small-regular {
		@apply text-xs xl:text-sm font-normal text-dark200_light800 text-dark200_light800;
	}

	.input {
		@apply text-base p-4 h-fit text-dark-200 dark:text-light-800 border-2 border-[#121212] dark:border-[#e0e0e2] bg-light-800 dark:bg-dark-200 !important;
	}
}
